/*
#overview
Gulp入門サンプル
 
サンプルファイルです
*/
 
/*#styleguide
サンプル見出し１
 
サンプルの見出しスタイル
hoverすると青く2倍になる
 
```
&lt;h1&gt;見出し１&lt;/h1&gt;
```
*/
h1 {
    color: black;
    transition: 200ms ease-out transform;
    &:hover {
        color: blue;
        transform: translate(10px,0);
  }
}